.wrapper {
  background-color: #eee;
  height: 300px;
  padding-top:100px;
}
.wrapper2 {
  background-color: #fff;
  height: 300px;
  padding-top:100px;
}
.img-team {
  width: 200px;
  height: 200px;
}
.wrapper i {
  color: $green;
}
